html {
	height: 100%;
}
body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 45px 1fr 50px;
}
form {
	display: flex;
	width: 90%;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}
ul {
	width: 100%;
	display: flex;
	font-family: Arial, sans-serif;
	font-size: small;
	align-content: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
li a {
	padding: 8px;
	color: rgb(82, 81, 81);
	text-align: center;
	text-decoration: none;
}
a :hover {
	text-decoration: underline;
}
img {
	margin-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#sign-in {
	background-color: #4285f4;
	color: white;
	margin: 0 auto;
	padding: 7px 10px;
	border: none;
	border-radius: 1px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
#search {
	display: block;
	width: 85%;
	height: 45px;
	border: none;
}
#searchBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	height: 45px;
	margin-bottom: 30px;
	border-radius: 30px;
	border-width: 0.1px;
	border-style: solid;
	border-color: #f2f2f2;
}

#footer {
	display: flex;
	grid-row: 3/4;
	background-color: #f2f2f2;
	align-items: center;
	align-content: center;
	flex-direction: row;
}
#navBar {
	grid-row: 1/2;
	display: flex;
	flex-direction: row;
}
#formContainer {
	grid-row: 2/3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#submitButtons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.submitButton {
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 3px;
	border-width: 0px;
	border-style: solid;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 150px;
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
}
.navBarLeft {
	margin-left: 10px;
	display: flex;
	flex-direction: row;
}
.navBarRight {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row-reverse;
}
@media (max-width: 600px) {
	#searchBar {
		width: 100%;
	}
}
